body {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 20pt;

    margin: 0px;

    border-width: 0px;

    background-color: #46AFB8;
    color: #ffffff;
}

a {
    color: #d0d0d0;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navBar {
    background-color: #057190;
    display: flex;

    padding: 0px;

    border-radius: 0px;
    width: 100%;
}

.navBar a {
    display: block;
    padding: 10px;
}

.banner {
    padding: 20px;

    background-color: #46AFB8;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.pug {
    max-height: 800pt;
    margin-bottom: -20px;
    width: 100%;
}

.whiteBackground {
    background-color: #ffffff;
    margin-bottom: 50px;
}